.Welcome {
  font-size:2.3em;
  color:aliceblue;
  background: linear-gradient(to right, 
        purple 0%,  /* Start color at 0% */
        pink 25%, /* Transition to orange at 25% */
        skyblue 50%, /* Transition to yellow at 50% */
        darkblue   75%,  /* Transition to green at 75% */
        pink 100%);
        text-align: center;
        padding: 5px;
        margin: 100px;
}
.loginbck{
  font-size:2.3em;
  color:aliceblue;
  background: linear-gradient(to right, 
        red 0%,  /* Start color at 0% */
        pink 25%, /* Transition to orange at 25% */
        orange 50%, /* Transition to yellow at 50% */
        yellow  75%,  /* Transition to green at 75% */
        red 100%);
  padding: 5px;
  margin: 100px;
  text-align: center;
}